APP_BASE_URL=http://localhost:4000
HOST=localhost
PORT=4000
APP_DEBUG=
API_VERSION=v1
DATABASE_URL=
TOKEN_KEY = "sz8eI7OdHBrjrIo8j9nTW/rQyO1OvY0pAQ2wDKQZw/0="
SALT_ROUNDS = 8
REFRESH_TOKEN_KEY = "fJ3l0qvX5u0b6N9p2K1mW8yZ4xC7eR0tGvHjLQpS3dE="